<!DOCTYPE html>
<html>
<head>
    <title>Show The Graph</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" ></script>
    <style>
        #line-chart {
            width: 300px;
            height: 250px;
        }
    </style>
</head>
<body>
    <h2>Temparture Graph</h2>
    <canvas id="lineChart1"></canvas>
    <h2>Water Height Graph</h2>
    <canvas id="lineChart2"></canvas>
    <h2>Humidity</h2>
    <canvas id="lineChart3"></canvas>
    <script>
        var socket = io();
        // data = {"temperature" : (온도), 
        // "humidity" : (습도), "water_level" : (수위),
        // "first_light_state" : (1층 불상태 ('ON'/'OFF')),
        // "second_light_state" : (2층 불상태),
        //"heater_state" : (히터 상태 ('ON'/'OFF')) }
        // TODO(정우): 전등, 히터, 상태 보여줘야할 것 보여주기
        // TODO (정우) : 버튼 만들어서 /control 로 리디렉션하도록 GET 요청 보내기
        // TODO (정우) : 버튼 만들어서 /streaming 로 리디렉션하도록 GET 요청 보내기

	var ctx1 = document.getElementById("lineChart1").getContext('2d');
        var lineChart1 = new Chart(ctx1, {
            type: 'line',
            data: {
                labels: [10,20,30,40,50,60],
                datasets: [{ 
                    data: {{initial_temperatures}},
                    label: "온도",
                    borderColor: "#3e95cd",
                    fill: false
                            }]
                    },
            options: {
                title: {
                    display: true,
                    text: 'temperature'
                }
            }
        });

	var ctx2 = document.getElementById("lineChart2").getContext('2d');
        var lineChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: [10,20,30,40,50,60],
                datasets: [{ 
                    data: {{initial_heights}},
                    label: "물의 높이",
                    borderColor: "#8e5ea2",
                    fill: false
                            }]
                    },
            options: {
                title: {
                    display: true,
                    text: 'height'
                }
            }
        });		

	var ctx3 = document.getElementById("lineChart3").getContext('2d');
        var lineChart3 = new Chart(ctx3, {
            type: 'line',
            data: {
                labels: [10,20,30,40,50,60],
                datasets: [{ 
                    data: {{initial_humidities}},
                    label: "습도",
                    borderColor: "#3cba9f",
                    fill: false
                            }]
                    },
            options: {
                title: {
                    display: true,
                    text: 'humidity'
                }
            }
        });

        function addData1(temperature) {
            lineChart1.data.datasets.forEach((dataset) => {
                dataset.data.shift();
                dataset.data.push(temperature);
            });
            lineChart1.update();
        }

	function addData2(height) {
            lineChart2.data.datasets.forEach((dataset) => {
                dataset.data.shift();
                dataset.data.push(height);
            });
            lineChart2.update();
        }

	function addData3(humidity) {
            lineChart3.data.datasets.forEach((dataset) => {
                dataset.data.shift();
                dataset.data.push(humidity);
            });
            lineChart3.update();
        }

	socket.on("give_data", function(msg){
            console.log("Received timestamp::"+msg.timestamp);
            console.log("Received temperature::"+msg.temperature);
            console.log("Received water_level::"+msg.water_level);
            console.log("Received humidity::"+msg.humidity);
            addData1(msg.temperature)
            addData2(msg.water_level)
            addData3(msg.humidity)
        });
	

    </script>
</body>
</html>
