<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/streaming.css" type="text/css">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" ></script>
    <title>Steaming</title>
  </head>
  <script>
    var socket = io();  

    <!-- base64 가상 이미지 url 생성 후 보이기 https://stackoverflow.com/questions/4564119/how-to-convert-a-byte-array-into-an-image 이방법 쓸거면 그냥 서버에서 이미지 저장하고 그 url 주는게 낫지 않을까? 시간 테스트해보기  -->
    function updateImage(data) {
      // Obtain a blob: URL for the image data.
      var arrayBufferView = new Uint8Array(data.byte_image);
      var blob = new Blob( [arrayBufferView], { type: "image/jpeg" } );
      var urlCreator = window.URL || window.webkitURL;
      var imageUrl = urlCreator.createObjectURL( blob );
      var img = document.querySelector( "#streamedImage" );
      var newImg = document.createElement('img');
      newImg.id = 'streamedImage';
      newImg.src = imageUrl;
      newImg.width = 600;
      console.log(newImg.src);
      
      img.parentNode.replaceChild(newImg, img);
      newImg.onload = () => {
        urlCreator.revokeObjectURL(imageUrl);
      };

    }
    
    socket.on("give_image", function(data) {
        updateImage(data);
    })

  </script>-
  <body>
    <div class="container">
      <img id="streamedImage" src="/" alt="Streaming Image" width="600" >
    </div>
  </body>
</html>
